<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django CRUD</title>
</head>
<body>
    
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            
            <!-- aqui abajo estamos diciendo que si el usuario esta autenticado puede ver esa ruta y si no pues debe registrarse en signup -->
            {% if user.is_authenticated %}
            <li>
                <a href="/tasks">tasks</a>
            </li>
            <li>
                <a href="/tasks/create">create task</a>
            </li>
            <li>
                <a href="/tasks_completed">tasks completed</a>
            </li>
            <li>
                <a href="/logout">logout</a>
            </li>
            {% else%}
            <li>
                <a href="/signup">Signup</a>
            </li>
            <li>
                <a href="/signin">signin</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {%block content%}
    {% endblock %}

</body>
</html>