{% extends 'base.html' %}

{% block content %}
    <h1>home</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius reiciendis sed iste enim saepe exercitationem illo ex officia corrupti voluptas, unde earum, voluptate dolore quaerat. Nam unde consequatur laboriosam odio dolorum porro quo nisi optio, voluptatem qui dolorem libero quas a sit quos vel est ducimus eos temporibus fugiat voluptates veritatis. Mollitia enim laudantium officiis voluptates autem a. Velit rem molestiae repudiandae quam nihil quaerat, sapiente temporibus molestias labore enim ut aspernatur officiis dolores necessitatibus tempora quas nam reiciendis! Natus sapiente consequuntur culpa aut, exercitationem odit quia facilis ut sed suscipit cum quas quo rem. Reiciendis harum maiores magni suscipit.</p>
{% endblock %}