{% extends 'base.html' %}

{% block content %}

<h1>task {{task.title}} </h1>
    
    {{error}}

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>
            update
        </button>
    </form>

    <form action="{% url 'complete_task' task.id %}" method="POST">
        {% csrf_token %}
        <button>
            complete
        </button>
    </form>

    <form action="{% url 'Eliminate_task' task.id %}" method="POST">
        {% csrf_token %}
        <button>
            Eliminate
        </button>
    </form>

{% endblock %}