{% extends "base.html" %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-9 offset-md-1">
            <h1 class="text-center display-3 py-3">Tareas pendientes- {{user.username}}</h1>
                <ul class="list-group">
                    {% for task in tasks %}
                    <a class="list-group-item" href=" {% url 'tasks_detail' task.id %}">
                        <!-- se utiliza la url por si algun usuario preciona el titulo de alguna de sus tareas poder ir a ese sitio primero se necesita el html donde se va ir y posteriormente el id sel usuario autenticado -->
                        <header class="d-flex justify-content-between">
                        {% if task.important %}
                        <h1 class="fw-bold text-success">{{ task.title}}</h1>
                        {% else %}
                            <h1 class="fw-bold">{{ task.title}}</h1>
                        {% endif %}
                        <p> {{task.user.username}} </p>
                        </header>
                        <p>{{task.description}}</p>
                        <p>{{task.datecompleted|date:'M j Y:i'}}</p> <!-- se utiliza para mostrar la fecha de cuando se completo la tarea -->
                    </a>
                    {% endfor %}
                </ul>
        </div>
    </div>
</main>

{% endblock %}