{% extends "base.html" %}

{% block content %}

<h1>Tareas - {{user.username}}</h1>

<ul>
    {% for task in tasks %}
    <li>
        <a href=" {% url 'tasks_detail' task.id %}">
            <!-- se utiliza la url por si algun usuario preciona el titulo de alguna de sustareas poder ir a ese sitio primero se necesita el html donde se va ir y posteriormente el id sel usuario autenticado -->
            {% if task.important %}
            <h1><strong>{{ task.title}}</strong></h1>
            {% else %}
                {{ task.title}}
            {% endif %}
                <p>{{task.description}}</p>
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}